*{
	margin:0px; 
	padding:0px;
}
html{
	height: 100%;
	width: 100%;
}
body{
	text-align: center;
	height: 100%;
	width: 100%;
	font-size:100%;
	background-color: darkgray;
}

#player_1 {
	height:33%;
	width: 100%;
	text-align: center;
	position: relative;
}

#player_3 {
	width: 100%;
	height: 20%;
	text-align: center;
	overflow: hidden;
	/*background-color: blue;*/
}

#player_2 {
	display:inline-block;
	width: 22%;
	height:48%;
	overflow: hidden;
	text-align: left;
	/*background-color: red;*/
}

#player_4 {
	margin: 0px;
	display:inline-block;
	width:25%;
	height:48%;
	overflow: hidden;
	/*background-color: green;*/

}

#table {
	display:inline-block;
	width:51%;
	height: 48%;
	overflow:hidden;
}
img.cards {
	border:3px solid rgba(0,0,0,0);
	position:relative;
	width:140px;
	height:219px;
	top:50%;
	transform: translateY(-50%);
	z-index: 1;
}


#table img.cards, #player_1 img.cards{
	width:200px;
	height:313px;
	z-index:2;
}

#table img.cards:hover, #player_1 img.cards:hover {
	border-radius: 12px;
	border:3px solid black;
	cursor:pointer;
}

img#giveCards {
	position:absolute;
	max-height: 80px;
	max-width: 80px;
	bottom:30px;
	right:30px;
	border:4px solid rgba(0,0,0,0);
}

img#giveCards:hover {
	border:4px solid white;
	border-radius: 50px;
	cursor: pointer;
}
