
div#gameModes {
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	width: 60%;
	text-align: center;
	height: 50%;
	overflow:hidden;
}

div#gameModes div{
	position:relative;
	display: inline-block;
	top:50%;
	transform:translateY(-50%);
	cursor: pointer;
	width: 30%;
	box-sizing: border-box;
	padding:3vmin;
	height: 100%;
}

div#gameModes div:hover {
	background-color: rgba(0,0,0,0.5);
}

div#gameModes div p{
	font-family: "Righteous";
	font-size: 5vmin;
	height: 20%;
}

div#gameModes div img{
	height: 80%;
	width: 100%;
	object-fit: contain;
}