
div#gameModes {
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	width: 75%;
	text-align: center;
}

div#gameModes div{
	padding: 2vmin;
	display: inline-block;
	cursor: pointer;
	width: 39%;
	max-width: 400px;
	margin: 4%;
	box-sizing: border-box;
}

div#gameModes div:hover {
	background-color: rgb(153, 0, 0);
}

div#gameModes div p{
	font-family: "Righteous";
	font-size: 30px;
}

div#gameModes div img{
	margin:auto;
	max-width: 100%;
	display: block;
}