*{
	margin:0; 
	padding:0;
}
html{
	height: 100%;
	width: 100%;
}
body{
	height: 100%;
	width: 100%;
	margin:auto;
	font-size:100%;
	background-color: rgb(0, 26, 51);
}
a{
	text-decoration: none;
	color:black;
}

a:visited{
	text-decoration: none;
	color:black;
}
h1{
	font-family: 'Permanent Marker';
	color:black;
	margin-bottom:20px;
}

div#content{
	font-size: 24px;
	padding: 10px;
	background-color: lightgrey;
	position:relative;
	top:50%;
	left:50%;
	border-radius: 5px;
	transform: translate(-50%, -50%);
	text-align: center;
	display: inline-block;
}

div#content table{
    border-spacing: 10px;
	text-align: center;
	margin: auto;
	font-family:'Acme';
}


div#content table td{
	margin:10px;
}

input {
	font-family: sans-serif;
	background-color:lightgrey;
	font-size: 0.8em;
    width: 100%;
    padding: 2px 10px;
    margin: 15px 0px 15px 0px;
    border:none;
    border-bottom: 2px solid grey;
    box-sizing: border-box;
}

input:hover{
	transition: 0.7s;
	border-bottom:2px solid #b3b3b3;
}  
input:focus{
	transition: 0.7s;
	outline:none;
	border-bottom:2px solid black;
}

div#sign, div#makeAcc {
	cursor: pointer;
	background-color: grey;
	padding:5px;
	font-family: 'Acme';
	margin:auto;
	margin-bottom: 5px;
	display: block;
	width: 80%;
}

div#sign{
	margin-top:40px;
}

div#sign:hover, div#makeAcc:hover{
	background-color: black;
	color:white;
	transition:0.5s;
}

p#message{
	position: absolute;
	width:80%;
	left:50%;
	transform:translateX(-50%);
	margin:auto;
	font-size:0.6em;
	color:red;
}